@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Inter", sans-serif;
}

main {
  background-color: #141414;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.card {
  height: 550px;
  width: 350px;
  background-color: #1f1f1f;
  border-radius: 12px;
  padding: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
}

div.text {
  text-align: center;

  h2,
  p {
    color: #ffffff;
  }

  span {
    color: #c4f82a;
    font-size: 12px;
    font-weight: 700;
  }
  h2 {
    font-size: 22px;
    margin-top: 20px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 400;
  }
}

div.buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;

  button {
    background-color: #333333;
    border: none;
    color: #ffffff;
    width: 295px;
    height: 40px;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
  }
}

div.buttons button:hover {
  background-color: #c4f82a;
  color: #333333;
  font-weight: 700;
}
