body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
}

main {
  background-color: #141414;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.card {
  height: 520px;
  width: 350px;
  background-color: #1f1f1f;
  border-radius: 12px;
  padding: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
}

div.text {
  text-align: center;

  h2,
  p {
    color: #ffffff;
  }

  span {
    color: #c4f82a;
  }
}

div.buttons {
  display: flex;
  flex-direction: column;
  width: 304px;
  height: 45px;
  gap: 16px;
  border-radius: 8px;

  button {
    background-color: #333333;
    border: none;
    color: #ffffff;
  }
}
